# SLO Twitter Data Analysis  - Nan/Non-NaN Values

Setup the Jupyter Notebook kernel for SLO data analysis.

In [1]:
import logging as log
import warnings
import time
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns

# Import custom utility functions.
import slo_twitter_data_analysis_utility_functions as tweet_util_v2

#############################################################
# Adjust parameters to display all contents.
pd.options.display.max_rows = None
pd.options.display.max_columns = None
pd.options.display.width = None
pd.options.display.max_colwidth = 1000
# Seaborn setting.
sns.set()
# Set level of precision for float value output.
pd.set_option('precision', 12)
# Ignore these types of warnings - don't output to console.
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
# Matplotlib log settings.
mylog = log.getLogger("matplotlib")
mylog.setLevel(log.INFO)

"""
Turn debug log statements for various sections of code on/off.
(adjust log level as necessary)
"""
log.basicConfig(level=log.INFO)


# Import CSV dataset and convert to dataframe.
tweet_dataframe = tweet_util_v2.import_dataset(
    "D:/Dropbox/summer-research-2019/jupyter-notebooks/attribute-datasets/"
    "twitter-dataset-6-27-19.csv",
    "csv", False)

d:\dropbox\cs344-ai\venv3.6-64bit\lib\site-packages\IPython\core\interactiveshell.py:3209: DtypeWarning: Columns (36) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

## NaN versus non-Nan Counts for each Attribute in the Twitter dataset:


This function displays statistics that count the # of rows/examples in the dataset that are NaN or non-Nan using the Pandas ".isnull().sum()" function chain.<br>

In [2]:
def count_nan_non_nan(input_file_path, attribute_name_list, file_type):
    """
    Function counts the number of NaN and non-Nan examples in a Pandas dataframe for the specified columns.

    :param input_file_path: absolute file path of the dataset in CSV or JSON format.
    :param attribute_name_list:  list of names of the attributes we are analyzing.
    :param file_type: type of input file. (JSON or CSV)
    :return: None.
    """
    start_time = time.time()

    if file_type == "csv":
        twitter_data = pd.read_csv(f"{input_file_path}", sep=",", encoding="ISO-8859-1", dtype=object)
    elif file_type == "json":
        twitter_data = pd.read_json(f"{input_file_path}", orient='records', lines=True)
    else:
        print(f"Invalid file type entered - aborting operation")
        return

    # Create a empty Pandas dataframe.
    dataframe = pd.DataFrame(twitter_data)

    number_examples = dataframe.shape[0]
    number_attributes = dataframe.shape[1]
    print(f"\nThe number of rows (examples) in the dataframe is {number_examples}")
    print(f"The number of columns (attributes) in the dataframe is {number_attributes}\n")

    for attribute_name in attribute_name_list:
        null_examples = dataframe[attribute_name].isnull().sum()
        non_null_examples = number_examples - null_examples

        print(f"The number of NaN rows for \"{attribute_name}\" is {null_examples}")
        print(f"The number of non-NaN rows for \"{attribute_name}\" is {non_null_examples}\n")

    end_time = time.time()
    time_elapsed_seconds = end_time - start_time
    time_elapsed_minutes = (end_time - start_time) / 60.0
    time_elapsed_hours = (end_time - start_time) / 60.0 / 60.0
    log.debug(f"The time taken to visualize the statistics is {time_elapsed_seconds} seconds, "
              f"{time_elapsed_minutes} minutes, {time_elapsed_hours} hours")


The usual data analysis function call.<br>

In [4]:
    # Original Tweet object attribute names present in raw JSON file.
original_tweet_object_field_names = [
    'created_at', 'id', 'full_text', 'in_reply_to_status_id', 'in_reply_to_user_id',
    'in_reply_to_screen_name', 'retweet_count', 'favorite_count', 'lang']

# Names to rename main Tweet object attributes.
tweet_object_fields = [
    'tweet_created_at', 'tweet_id', 'tweet_full_text', 'tweet_in_reply_to_status_id',
    'tweet_in_reply_to_user_id', 'tweet_in_reply_to_screen_name', 'tweet_retweet_count',
    'tweet_favorite_count', 'tweet_lang']

# Names to give "user" object attributes.
user_object_fields = [
    'user_id', 'user_name', 'user_screen_name', 'user_location', 'user_description',
    'user_followers_count', 'user_friends_count', 'user_listed_count', 'user_favourites_count',
    'user_statuses_count', 'user_created_at', 'user_time_zone', 'user_lang']

# Names to give "entities" object attributes.
entities_object_fields = [
    "tweet_entities_expanded_urls", "tweet_entities_hashtags", "tweet_entities_user_mentions_id",
    "tweet_entities_user_mentions_name", "tweet_entities_user_mentions_screen_name",
    "tweet_entities_symbols"]

# Names to give "retweeted_status" object attributes.
retweeted_status_object_fields = [
    'retweeted_status_created_at', 'retweeted_status_id', 'retweeted_status_full_text',
    'retweeted_status_in_reply_to_status_id', 'retweeted_status_in_reply_to_user_id',
    'retweeted_status_in_reply_to_screen_name', 'retweeted_status_retweet_count',
    'retweeted_status_favorite_count', 'retweeted_status_lang',
    'retweeted_status_entities',
    'retweeted_status_user', 'retweeted_status_coordinates', 'retweeted_status_place']

# Names to give "user" object attributes.
retweeted_status_user_object_fields = [
    'retweeted_status_user_id', 'retweeted_status_user_name', 'retweeted_status_user_screen_name',
    'retweeted_status_user_location', 'retweeted_status_user_description', 'retweeted_status_user_followers_count',
    'retweeted_status_user_friends_count', 'retweeted_status_user_listed_count',
    'retweeted_status_user_favourites_count', 'retweeted_status_user_statuses_count',
    'retweeted_status_user_created_at', 'retweeted_status_user_time_zone', 'retweeted_status_user_lang']

required_fields = ['retweeted_derived', 'company_derived', 'text_derived',  # "tweet_quoted_status_id",
                   'tweet_url_link_derived', 'multiple_companies_derived_count', "company_derived_designation",
                   'tweet_text_length_derived', "spaCy_language_detect_all_tweets",
                   "user_description_text_length",  # "polyglot_lang_detect_all_tweets"
                   ] + tweet_object_fields + user_object_fields + entities_object_fields
    
    # Determine the number of NaN and non-NaN rows for a attribute in a dataset.
    count_nan_non_nan(
        "D:/Dropbox/summer-research-2019/jupyter-notebooks/attribute-datasets/twitter-dataset-6-27-19.csv",
        required_fields, "csv")

The number of rows (examples) in the dataframe is 670423
The number of columns (attributes) in the dataframe is 37

The number of NaN rows for "retweeted_derived" is 0
The number of non-NaN rows for "retweeted_derived" is 670423

The number of NaN rows for "company_derived" is 1057
The number of non-NaN rows for "company_derived" is 669366

The number of NaN rows for "text_derived" is 0
The number of non-NaN rows for "text_derived" is 670423

The number of NaN rows for "tweet_url_link_derived" is 0
The number of non-NaN rows for "tweet_url_link_derived" is 670423

The number of NaN rows for "multiple_companies_derived_count" is 0
The number of non-NaN rows for "multiple_companies_derived_count" is 670423

The number of NaN rows for "company_derived_designation" is 1057
The number of non-NaN rows for "company_derived_designation" is 669366

The number of NaN rows for "tweet_text_length_derived" is 0
The number of non-NaN rows for "tweet_text_length_derived" is 670423

The number of NaN rows for "spaCy_language_detect_all_tweets" is 0
The number of non-NaN rows for "spaCy_language_detect_all_tweets" is 670423

The number of NaN rows for "user_description_text_length" is 0
The number of non-NaN rows for "user_description_text_length" is 670423

The number of NaN rows for "tweet_created_at" is 0
The number of non-NaN rows for "tweet_created_at" is 670423

The number of NaN rows for "tweet_id" is 0
The number of non-NaN rows for "tweet_id" is 670423

The number of NaN rows for "tweet_full_text" is 0
The number of non-NaN rows for "tweet_full_text" is 670423

The number of NaN rows for "tweet_in_reply_to_status_id" is 630911
The number of non-NaN rows for "tweet_in_reply_to_status_id" is 39512

The number of NaN rows for "tweet_in_reply_to_user_id" is 623410
The number of non-NaN rows for "tweet_in_reply_to_user_id" is 47013

The number of NaN rows for "tweet_in_reply_to_screen_name" is 623410
The number of non-NaN rows for "tweet_in_reply_to_screen_name" is 47013

The number of NaN rows for "tweet_retweet_count" is 0
The number of non-NaN rows for "tweet_retweet_count" is 670423

The number of NaN rows for "tweet_favorite_count" is 0
The number of non-NaN rows for "tweet_favorite_count" is 670423

The number of NaN rows for "tweet_lang" is 0
The number of non-NaN rows for "tweet_lang" is 670423

The number of NaN rows for "user_id" is 0
The number of non-NaN rows for "user_id" is 670423

The number of NaN rows for "user_name" is 0
The number of non-NaN rows for "user_name" is 670423

The number of NaN rows for "user_screen_name" is 0
The number of non-NaN rows for "user_screen_name" is 670423

The number of NaN rows for "user_location" is 92389
The number of non-NaN rows for "user_location" is 578034

The number of NaN rows for "user_description" is 44992
The number of non-NaN rows for "user_description" is 625431

The number of NaN rows for "user_followers_count" is 0
The number of non-NaN rows for "user_followers_count" is 670423

The number of NaN rows for "user_friends_count" is 0
The number of non-NaN rows for "user_friends_count" is 670423

The number of NaN rows for "user_listed_count" is 0
The number of non-NaN rows for "user_listed_count" is 670423

The number of NaN rows for "user_favourites_count" is 0
The number of non-NaN rows for "user_favourites_count" is 670423

The number of NaN rows for "user_statuses_count" is 0
The number of non-NaN rows for "user_statuses_count" is 670423

The number of NaN rows for "user_created_at" is 0
The number of non-NaN rows for "user_created_at" is 670423

The number of NaN rows for "user_time_zone" is 22
The number of non-NaN rows for "user_time_zone" is 670401

The number of NaN rows for "user_lang" is 0
The number of non-NaN rows for "user_lang" is 670423

The number of NaN rows for "tweet_entities_expanded_urls" is 415325
The number of non-NaN rows for "tweet_entities_expanded_urls" is 255098

The number of NaN rows for "tweet_entities_hashtags" is 303206
The number of non-NaN rows for "tweet_entities_hashtags" is 367217

The number of NaN rows for "tweet_entities_user_mentions_id" is 0
The number of non-NaN rows for "tweet_entities_user_mentions_id" is 670423

The number of NaN rows for "tweet_entities_user_mentions_name" is 135073
The number of non-NaN rows for "tweet_entities_user_mentions_name" is 535350

The number of NaN rows for "tweet_entities_user_mentions_screen_name" is 135073
The number of non-NaN rows for "tweet_entities_user_mentions_screen_name" is 535350

The number of NaN rows for "tweet_entities_symbols" is 659083
The number of non-NaN rows for "tweet_entities_symbols" is 11340


The attribute name is in double quotations.  Each pair of lines in between a blank line is the statistics for a single attribute.<br>